/* Estilos para o modo claro */
body {
    background-color: white;
    color: black;
}

header, section {
    background-color: #f0f0f0; /* Cor de fundo para o modo claro */
    color: black; /* Cor do texto para o modo claro */
}

footer {
    background-color: #d0d0d0; /* Cor do fundo do footer para o modo claro */
    color: black; /* Cor do texto do footer para o modo claro */
}

button {
    background-color: #007BFF; /* Azul */
    color: white;
}

button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

/* Estilos para o modo escuro */
.dark-mode {
    background-color: #1E3A5F; /* Azul Marinho */
    color: white;
}

.dark-mode header, .dark-mode section {
    background-color: #1E3A5F; /* Azul Marinho */
    color: white;
}

.dark-mode footer {
    background-color: #1A2530; /* Azul Marinho mais escuro */
    color: white;
}

.dark-mode button {
    background-color: #0056b3; /* Azul mais escuro para o modo escuro */
    color: white;
}
